<footer>

    <div class="footer-content">
    
        <h3> Website created by: João Victor Cavalcante e Silva </h3>
        <p>Made for student purposes.</p>
    
        <ul class="socials">
    
            <li><a href="https://www.linkedin.com/in/joao-victor-cavalcante-silva/"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="https://github.com/jotacoding"><i class="fa fa-github-square"></i></a></li>
            
        </ul>    
    
    </div>
    
    </footer>