<script src="https://kit.fontawesome.com/f7a1c0a146.js" crossorigin="anonymous"></script>
    <header id="header">
      <nav class= 'lggoat'>
      <ul class="ulgoat">
    <li><img src="/img/bode.png" alt=""> </li> 
    
    <a id="logo" href="/">G.O.A.T CINE</a>
    
      </ul>
  </nav>
      <nav id="nav">
        <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">Menu
          <span id="hamburger"></span>
        </button>
        <ul id="menu" role="menu">
          <li><i class="fa-solid fa-house"></i><a href="/">Inicío</a></li>
          <li><i class="fa-solid fa-square-plus" ></i><a href="/criar">Cadastre um novo filme</a></li>
          <!--<li><i class="fa-solid fa-clapperboard"></i><a href="/detalhes">Categorias</a></li>-->
          
        </ul> 
      </nav>
    </header>
    <script src="./script.js"></script>

   
