@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Roboto, arial;
box-sizing: border-box;}

main{
    
  /* margin: 0 10rem 0 10rem; */

  max-width: 100%;
  
}





@font-face {
  font-family:'Hollywood';
    src: url('/fonts/SF\ Hollywood\ Hills.ttf');
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right,  #222222,  #161518);
    }




header h1 {
    
    color: #fff;
    font-size: 3em;
    text-align: center;
}








/*M E N U*/

header {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

ul {
    margin: 0px;
    padding: 0px;
  }
  
  a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  a:hover {
    background: rgba(0, 0, 0, 0.05);
  }
  
  #logo {
    font-size: 3rem;
    font-weight: bold;
    color: #e1e1e1;
    font-family: 'Hollywood';
    /*-webkit-box-reflect: below 1px linear-gradient(transparent, #0008);*/
    line-height: 0.70em;
    outline: none;
    animation: animate 15s linear infinite;
  }
  
  @keyframes animate {
    0%,18%,20%,50.1%,60%,65%,65.1%,80%,90.1%,92%
    {
        color: rgb(117, 117, 117);
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%, 100%
    {
        color: #fff;
        text-shadow: 0 0 10px #ffffff,
        0 0 20px #ffffff,
        0 0 40px #ffffff,
        0 0 80px #ffffff,
        0 0 160px #ffffff,
        
    }

  }

  .subH{
    
    height: 50px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff
  }

  #header {
    box-sizing: border-box;
    height: 95px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to bottom right,  #1a1a1a,  #161234);
    width: 100%;
  }
  
  #menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
  }
  
  #menu a {
    display: block;
    padding: 0.5rem;
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.5px;
  }
  
  #btn-mobile {
    display: none;
    color: #fff;
  }
  
  
    img {
      width: 128px;
      list-style: none;
      display: flex;
      align-items: center;
      
    }
    nav.lggoat ul.ulgoat {
      list-style: none;
      display: flex;
      align-items: center;
    }
    li {
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      }

      #menu a:after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    }
    
    #menu a:hover {
      color: #fff;

    }
    #menu a:hover:after{
      width: 100%;
  }



  @media (max-width: 600px) {
    #menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 95px;
      right: 0px;
      background: #0b0819;
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
      
      
    }

   
    #menu a:hover:after {
      display: none;

    }

    #nav.active #menu {
      height: calc(100vh - 70px);
      visibility: visible;
      overflow-y: auto;
      
    }
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid ;
      color: #fff;
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
    }
    #hamburger {
      border-top: 2px solid;
      width: 20px;
      color: #fff;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
    img {
      width: 80px;
      list-style: none;
      display: flex;
      align-items: center;
      
    }

    #logo {
      font-size: 2rem;
      font-weight: bold;
      color: #fff;
      font-family: 'Hollywood';
    }

    #menu i {
    display: none;
    padding: 0;
    
  }

  }










/*F O O T E R*/

footer {

bottom: 0;
background-image: linear-gradient(to bottom right,  #0a0a0a,  #090716);
height: auto;
width: 100vw;
font-family: "Open Sans";
padding-top: 20px;
color: #fff;
}

.footer-content {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    
    font-size: 1.8rem;
    font-weight: 100px;
    line-height: 3rem;
     
}    

.footer-content p{

    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

}

.socials{

    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;

}

.socials li{

    margin: 0 10px;
    
}

.socials a{

    text-decoration: none;
    color: #fff;
    
}

.socials a i{

    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{

    color: #010895;
    
    
}


/*cards*/

.card_img{
width: 100%;
object-fit: contain;
max-height: 180px;
margin-right: 10px;
transition: transform 450ms;


}


section#row_posters{
  display: flex;
  gap: var(--size-3);
  grid-auto-flow: column;
  grid-auto-columns: 6%;
  overflow-x: scroll;
  overflow-y: hidden;
  overscroll-behavior-inline: contain;
  max-width: 56rem;
  
  }



.card_img:hover{
transform: scale(1.08);

}


h1{
  color: #fff;
  
  }
    

  article.cards div.card_nome{
    position: relative;
    color: #fff;
    width: 150px;
    
  }

  

@media (max-width: 600px) {


  section#row_posters{
   max-width: 20rem;
    }

    
}




/*DETALHES*/
table{
width: 100%;
text-align: center;
color: #fff;
padding-bottom: 1%;
}

table tr:nth-child(odd) {
background-color:  #161234;

}

table th {
  background-color:  #1e1848;
}

table tr:nth-child(even){
background-color:  #161234;

}

iframe#card_iframe{
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding-top: 1rem;
  
}


.tableSinopse{
  max-width: 100%;
  height: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 600px) {
  iframe#card_iframe{
    width: 95%;

  }

  table{
    width: 95%;

  }

}


  
  /*C A D A S T R O*/

section#cadastro {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5rem;
}


section#cadastro h2{
  color: #fff;
  padding-bottom: 2rem;
  width: 100%;
  text-align: center;
}

section#cadastro form{

  width: 50%

}

section#cadastro form input{
  border-radius: 20px;
  width: 100%;
  padding: .7rem;
  font-size: 1rem;
  outline: none;
  border: solid 2px rgb(197, 197, 197);
  margin: 0 1rem 1rem 1rem;
}

section#cadastro form label {

  margin: 1rem;
  color: rgb(118, 118, 118);
}

section#cadastro form button{

  padding: .6rem;
  width: 20%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 1rem;
  background-color: rgb(21, 23, 62);
  border: solid 1px black;
  color: #fff;
  cursor: pointer;
  transition: all .2s ease-in-out;
  border-radius: 20px;
}

section#cadastro form button:hover{

  background-color: rgb(20, 37, 121) ;
  color: whitesmoke;
}    



@media screen and (max-width: 650px) {
  section#cadastro form button{
      width: 4.3rem;
      justify-content: center;
      
  }

  section#cadastro form{

      width: 40rem;
  
  }

 

 
  section#cadastro form{

  width: 100%;
justify-content: space-between;
  margin-right: 3rem;
}
 section#cadastro form button{
 margin-left: 3rem;
  }
}




section#card {
max-width: 100%;
display: flex;
flex-direction: column;
align-items: center;

}

thead {
  max-width: 100%;
}

tbody {
  max-width: 100%;
}

tfoot {
  max-width: 100%;
}



section#card_posters {
  height: 98%;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  gap: 2%;
  padding: 0% 1%;
}




.delete{
  
  background-color: rgb(21, 21, 21);
  border: solid 1px black;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin-bottom: 2rem;
    border-radius: 30px 10px;
    font-size: 0.8rem;
    width: 3rem;
    position: relative;
    
}

.delete:hover{
  color: red;
  transform: scale(1.28);

}
.editar{
 
  background-color:  rgb(21, 21, 21);
  border: solid 1px black;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin-bottom: 2rem;
    border-radius: 30px 10px;
    font-size: 0.8rem;
    width: 3rem;
    position: relative;  
    
  
}

.editar:hover{
  
    color: blue;
    transform: scale(1.28);
  
 

}


h3 {
color: #fff;
display: flex;
justify-items: center;
align-items: center;
padding: 1%;
}



.texto {
  padding: 1%;
}




li.clicar {
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 5%;
  height: 1%;
}

li.clicar:hover{
  transform: scale(1.18);
}  

@media (max-width: 600px) {
  li.clicar {
    width: 100%;
  }   

}  




